@import "../../../themes/mixins";
@import "../../../themes/variables";

@import "../../../themes/mixins";
@import "../../../themes/variables";

.main-container-edit-task {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 3vw;
  gap: 2vw;
  height: 50vw;
  .edit-task-header {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .sector-name {
      @include font_style;
      font-size: xx-large;
      font-weight: 450;
      width: 60%;
      color: $secondary-white-color;
    }

    .arrow-icon {
      display: flex;
      height: 5vw;
      width: 50%;
      align-self: flex-start;
      margin-top: -0.7vw;
      cursor: pointer;
      width: 5vw;
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.1); /* Example hover effect */
      }
    }
  }

  .edit-task-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    gap: 1vw;
    padding: 2vw;
    background-color: rgba($secondary-white-color, 0.8);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    overflow: scroll;
    .edit-task-title {
      @include font_style;
      font-size: x-large;
      display: flex;
      font-weight: 450;
      align-self: center;
    }
    .input-group {
      display: flex;
      gap: 2vw;
      width: 100%;
      flex-direction: column;
      .input-label {
        @include font_style;
      }

      .task-input,
      .task-textarea {
        background-color: $secondary-white-color;
        border: none;
        padding: 1vw;
        width: calc(100% - 18vw);
        margin-bottom: 1vw;
        transition: box-shadow 0.3s ease;

        &:focus {
          outline: none;
          box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
        }

        &::placeholder {
          color: #999;
        }
      }

      .task-input {
        height: 3vw;
      }

      .task-textarea {
        height: 4vw;
      }
    }
    .options-container {
      .edit-buttons {
        display: flex;
        gap: 2vw;
        width: 100%;
        justify-content: center;
      }
      .option-section {
        display: flex;
        flex-direction: column;
        gap: 1vw;

        .option-button {
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
          padding: 0.5rem 1rem;
          background-color: $secondary-white-color;
          border-color: $secondary-darkgreen-color;
          @include font_style;
          color: $secondary-darkgreen-color;
          font-size: 1vw;
          width: 10vw;
          text-align: center;
          cursor: pointer;
          transition: background-color 0.3s ease;

          &:hover {
            color: white;
            background-color: $primary-green-logo-color;
            border-color: $primary-pink-logo-color;
          }
        }
        .file-upload-icon {
          width: 3.3vw;
          height: 4vw;
          cursor: pointer;
        }
        .delete-option-button {
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
          padding: 0.5rem 1rem;
          background-color: $primary-pink-logo-color;
          border-color: transparent;
          @include font_style;
          color: $secondary-white-color;
          font-size: 1vw;
          width: 13vw;
          height: 2.5vw;
          text-align: center;
          cursor: pointer;
          transition: background-color 0.3s ease;

          &:hover {
            color: white;
            background-color: darken($primary-pink-logo-color, 10%); /* Example hover effect */
          }
        }

        .question-section {
            display: flex;
            flex-direction: column;
            .q-head {
              display: flex;
            }
            .q-task-text {
              @include font-style;
              font-size: 1.5vw;
              font-weight: 400;
              color: $primary-blue-logo-color;
            }
    
            div {
              margin-top: 1vw;
    
              .correct-answer {
                color: $primary-green-logo-color;
                font-weight: bold;
              }
            }
            .answers {
              display: flex;
              flex-direction: column;
              justify-content: center;
              margin-right: 1vw;
              font-size: 1.5vw;
              @include font-style;
            }
          }

        .answer-container {
          display: flex;
          align-items: center;
          gap: 1vw;

          .delete-answer-button {
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
            padding: 0.5rem 1rem;
            background-color: $primary-green-logo-color;
            border-color: transparent;
            @include font_style;
            color: $secondary-white-color;
            font-size: 1vw;
            height: 2.5vw;
            text-align: center;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:hover {
              background-color: darken($primary-green-logo-color, 10%); /* Example hover effect */
            }
          }
        }
      }
    }
    .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        border-radius: 0.5vw;

        .img-media {
            max-width: 100%;
            height: 20vw; // Set the height as specified
            transition: all 0.3s ease-in-out;

            &:hover {
                transform: scale(1.1);
            }
        }
    }
  }
  .edit-answer-button {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 0.5rem 1rem;
    background-color: $primary-green-logo-color;
    border-color: transparent;
    @include font_style;
    color: $secondary-white-color;
    font-size: 1vw;
    height: 2.5vw;
    width: 30%;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      color: white;
      background-color: darken($primary-green-logo-color, 10%); /* Example hover effect */
    }
  }
  .save-task-button {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 0.5rem 1rem;
    background-color: $primary-pink-logo-color;
    border-color: transparent;
    @include font_style;
    color: $secondary-white-color;
    font-size: 1vw;
    height: 2.5vw;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      color: white;
      background-color: darken($primary-green-logo-color, 10%); /* Example hover effect */
    }
  }
  .task-content {
    @include font-style;
    color: $secondary-darkblue-color;
    font-size: 1.5vw;
    .task-free-text{
        background-color: $secondary-white-color;
        border: none;
        padding: 1vw;
        width: calc(100% - 18vw);
        margin-bottom: 1vw;
        transition: box-shadow 0.3s ease;

        &:focus {
          outline: none;
          box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
        }

        &::placeholder {
          color: #999;
        }
      }
    .task-ques {
      margin: 1vw 0;
    }
    .text-free {
      @include font-style;
      color: $primary-blue-logo-color;
    }
    .question-section {
      display: flex;
      flex-direction: column;
      .q-head {
        display: flex;
      }
      .q-task-text {
        @include font-style;
        font-size: 1.5vw;
        font-weight: 400;
        color: $primary-blue-logo-color;
      }

      div {
        margin-top: 1vw;

        .correct-answer {
          color: $primary-green-logo-color;
          font-weight: bold;
        }
      }
      .answers {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 1vw;
        font-size: 1.5vw;
        @include font-style;
      }
    }
    .task-media-list .swiper-slide {
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      border-radius: 0.5vw;

      .img-media {
        max-width: 100%;
        height: 20vw;
        transition: all 0.3s ease-in-out;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}
