@import "../../../themes/mixins";
@import "../../../themes/variables";

.main-container-add-location {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 3vw;
  gap: 2vw;
  height: 50vw;

  .add-location-header {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .sector-name {
      @include font_style;
      font-size: 2.5vw;
      font-weight: 450;
      width: 60%;
      color: $secondary-white-color;
    }

    .arrow-icon {
      height: 5vw;
      width: 5vw;
      cursor: pointer;
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .add-location-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    gap: 1vw;
    padding: 2vw;
    background-color: rgba($secondary-white-color, 0.8);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    overflow: scroll;
    .add-location-title {
      @include font_style;
      font-size: x-large;
      display: flex;
      font-weight: 450;
      align-self: center;
    }
    .input-group {
      display: flex;
      gap: 2vw;
      width: 100%;
      flex-direction: column;
      .input-label {
        @include font_style;
      }

      .location-input,
      .location-textarea {
        background-color: $secondary-white-color;
        border: none;
        padding: 1vw;
        width: calc(100% - 18vw);
        margin-bottom: 1vw;
        transition: box-shadow 0.3s ease;

        &:focus {
          outline: none;
          box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
        }

        &::placeholder {
          color: #999;
        }
      }

      .location-input {
        height: 2.5vw;
      }

      .location-textarea {
        height: 4vw;
      }
    }
    .options-container {
      .add-buttons {
        display: flex;
        gap: 2vw;
        width: 100%;
        justify-content: center;
      }
      .option-section {
        display: flex;
        flex-direction: column;
        gap: 1vw;

        .option-button {
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
          padding: 0.5rem 1rem;
          background-color: $secondary-white-color;
          border-color: $secondary-darkgreen-color;
          @include font_style;
          color: $secondary-darkgreen-color;
          font-size: 1vw;
          width: 10vw;
          text-align: center;
          cursor: pointer;
          transition: background-color 0.3s ease;

          &:hover {
            color: white;
            background-color: $primary-green-logo-color;
            border-color: $primary-pink-logo-color;
          }
        }
        .file-upload-icon {
          width: 3.3vw;
          height: 4vw;
          cursor: pointer;
        }
        .delete-option-button {
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
          padding: 0.5rem 1rem;
          background-color: $primary-pink-logo-color;
          border-color: transparent;
          @include font_style;
          color: $secondary-white-color;
          font-size: 1vw;
          width: 13vw;
          height: 2.5vw;
          text-align: center;
          cursor: pointer;
          transition: background-color 0.3s ease;

          &:hover {
            color: white;
            background-color: darken($primary-pink-logo-color, 10%); /* Example hover effect */
          }
        }
      }
    }
  }

  .location-buttons {
    display: flex;
    align-items: center;

    .add-objects-button {
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
      padding: 0.5rem 1rem;
      background-color: $primary-green-logo-color;
      border-color: transparent;
      @include font_style;
      color: $secondary-white-color;
      font-size: 1vw;
      height: 2.5vw;
      text-align: center;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: darken($primary-green-logo-color, 10%); /* Example hover effect */
      }
    }
  }

  .save-location-button {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 0.5rem 1rem;
    background-color: $primary-pink-logo-color;
    border-color: transparent;
    @include font_style;
    color: $secondary-white-color;
    font-size: 1vw;
    height: 2.5vw;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      color: white;
      background-color: darken($primary-green-logo-color, 10%); /* Example hover effect */
    }
  }
}