@import "../../../themes/mixins";
@import "../../../themes/variables";

.object-container {
  display: flex;
  // align-items: center;
  // justify-content: center;
  flex-direction: column;
  padding: 3vw;
  gap: 2vw;
  height: 50vw;
  padding-left: 20vw;
  .section-title {
    @include font-style;
    font-size: 1.7vw;
    font-weight: 450;
    color: $primary-blue-logo-color;
  }

  .add-task-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    .sector-name {
      @include font_style;
      font-size: xx-large;
      font-weight: 450;
      width: 60%;
      align-items: flex-end;
      justify-self: flex-end;
      color: $secondary-white-color;
    }
}
.object-details {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 10vw;
    height: 100%;
    gap: 1vw;
    padding: 2vw;
    background-color: rgba($secondary-white-color, 0.8);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    overflow: scroll;
    .object-title {
        @include font-style;
        font-size: 2vw;
        margin-bottom: 1vw;
        font-weight: 450;
        text-align: center;
        color: $primary-blue-logo-color;
      }
    .object-desc {
        margin-bottom: 1vw;
        padding: 1vw;
        border-radius: 0.5vw;
      }
      .task-content {
        @include font-style;
        color: $secondary-darkblue-color;
        font-size: 1.5vw;
        .object-imgs-list .swiper-slide {
          display: flex;
          justify-content: center;
          align-items: center;
          overflow: hidden;
          border-radius: 0.5vw;
  
          .img-media {
            max-width: 100%;
            height: 20vw;
            transition: all 0.3s ease-in-out;
  
            &:hover {
              transform: scale(1.1);
            }
          }
        }
      }
    }
}